.titulos{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}
.deslizaInfo{
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
}
.parrafo{
    font-size: 12px;
    font-weight: bolder;
}