<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
          text="Back"
          color="primary"
          mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="titulos">Kamisato Ayaka</h2>
  <p class="deslizaInfo">Desliza hacia la derecha para ver más</p>

  <!--1er Slide-->
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-img src="/assets/img/Ayaka/Tarjeta_ayaka.jpg"></ion-img>
      </ion-card>
    </ion-slide>

    <!--2do Slide-->
    <ion-slide>
      <p class="parrafo">Historia<br>Ayaka es la heredera del clan yashiro.
        Hija del Clan Kamisato de la Comisión Yashiro de Inazuma. Digna y elegante, sabia y decidida.<br> <br>
        <ion-card>Talentos<br>Su ataque normal, Kamisato Art: Kabuki, le permite a Ayaka realizar hasta cinco golpes consecutivos, mientras que con su ataque cargado, puede consumir Stamina para desatar una ráfaga de espada ki<br>
        <ion-img src="/assets/img/Ayaka/Ayaka_1.jpg"></ion-img></ion-card>
        <ion-card>
        Con su habilidad elemental, Kamisato Art: Hyouka, Ayaka puede convocar una explosión de hielo floreciente a su alrededor que lanza a todos los enemigos cercanos al aire mientras les da daño Cryo.<br>
         <ion-img src="/assets/img/Ayaka/Ayaka_2.jpg"></ion-img> </ion-card>
        <ion-card>
        Finalmente, con su Explosión elemental, Kamisato Art: Soumetsu, Ayaka convocará una tormenta de nieve con un equilibrio impecable conocido como Frostflake Senki no To.
        El Frostflake Senki no To avanzará y atacará repetidamente a cada enemigo que toque, causando daño Cryo.<br>
        <ion-img src="/assets/img/Ayaka/Ayaka_3.jpg"></ion-img></ion-card><br>    </p>
    </ion-slide>

    <!--3er Slide-->
    <ion-slide>
      <p class="parrafo">Las Mejores Armas para Ayaka<br>
        <br>
        <ion-card>
          <ion-card-title>Reflejo De Las Tinieblas</ion-card-title>
          <ion-img src="/assets/img/Ayaka/Ayaka_arma1.jpg"></ion-img>
        Comenzando con la mejor arma de 5 estrellas para ella, la llegada de Ayaka traerá al juego su espada característica conocida como Mistsplitter Reforged,
        una poderosa katana infundida con energía Electro que mejora drásticamente su poder Elemental.</ion-card><br>
        
        <ion-card>
          <ion-card-title>Hoja Afilada Celestial</ion-card-title>
           <ion-img src="/assets/img/Ayaka/Ayaka_arma2.jpg"></ion-img>
           Si buscas usarla principalmente como Soporte, esta arma celestial es una de las mejores para cualquier
           personaje que dependa mucho de sus habilidades elementales, ya que se basa en el poder de Stormterror.</ion-card><br>
        <ion-card>
          <ion-card-title>Cortador de Jade Primordial</ion-card-title>
          <ion-img src="/assets/img/Ayaka/Ayaka_arma3.jpg"></ion-img>
          Entre las armas más recomendadas, la siguiente que destaca es la Primordial Jade Cutter, una espada de 5 estrellas que aunque no está refinada al máximo,
          otorga más poder con cada golpe en función de tus estadísticas de HP, algo que beneficia absolutamente al nivel de DPS de Ayaka.
          </ion-card><br></p>
    </ion-slide>


    <!--4to Slide-->
    <ion-slide>
      <p class="parrafo">Los Mejores Artefactos para Ayaka<br>
        <br>
        <ion-card>
          <ion-card-title>Conjunto Nómada del invierno</ion-card-title><br>
          <ion-img src="/assets/img/Ayaka/Ayaka_artefacto1.jpg"></ion-img><br>
          Al equiparte dos piezas de este set obtienes Bono de Daño Cryo +15%<br>
          Al equiparte cuatro piezas de este set Aumenta en un 20% la Prob. CRIT contra los enemigos afectados por Cryo.
         Si el enemigo está Congelado, la Prob. CRIT aumentará en un 20% adicional.</ion-card><br>
        
        <ion-card>
          <ion-card-title>Conjunto Ritual de la Antigua Nobleza</ion-card-title><br>

           <ion-img src="/assets/img/Ayaka/Ayaka_artefacto2.png"></ion-img><br>
          Al equiparte dos piezas de este set obtienes Daño de Habilidad Definitiva +20%<br>
          Al equiparte con 4 piezas de este set obtienes el siguiente buff, después de lanzar una Habilidad Definitiva, aumenta el ATQ de todos los miembros del equipo en un 
          20% durante 12 s. Este efecto no puede acumularse.</ion-card>
        <ion-card>
          <ion-card-title>Conjunto Reminiscencia de la Purificación</ion-card-title>
          <ion-img src="/assets/img/Ayaka/Ayaka_artefacto3.jpg"></ion-img>
          Al equiparte dos piezas de este set obtienes ATQ +18%<br>
          Al equiparte cuatro piezas de este set obtienes el siguiente Buff: Si el personaje tiene 15 pts. de Energía Elemental o más,
          perderá 15 pts. al realizar una Habilidad Elemental y el daño infligido con los Ataques Normales, Cargados y Descendentes aumentará en un 50% durante 10 s.
          </ion-card></p>

    </ion-slide>

  </ion-slides>
  <br>

    <ion-button shape="round" color="success" expand="full" href="https://genshin.gg/tier-list" target="_blank">Tier List</ion-button>
    
  

      <!--insertar un segundo botón que llame a un método del alert -->
      
        

</ion-content>
