<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="colorFondo">
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">La promesa de los Mundo Abierto</ion-card-subtitle>
      <ion-card-title class="titulo">Genshin Impact</ion-card-title>
      <ion-img src="/assets/img/ActionSheetGI.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content  class="ion-padding contenido">
      Analizamos el nuevo título del estudio miHoYo, un RPG free to play que ofrece un extenso mundo por explorar y una amplia variedad de personajes.
    </ion-card-content>
    <ion-card-content  class="ion-padding contenido">
      Genshin Impact es su segundo título y hasta el momento ha sido uno de los juegos que más expectación ha levantado tanto por su condición de juegos free to play como por la calidad que el juego desprende y que, a priori, poco tiene que envidiar a títulos de primer nivel de corte RPG.
    </ion-card-content>
    <ion-img src="/assets/img/ActionSheetJean.jpg"></ion-img>
    <br>
  </ion-card>
  <!--insertar un card con header, subtitulo, titulo, 
  insertar un content con un texto determinado y una imagen dentro del card
  que direccione hacia una url determinada-->
</ion-content>
